@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-lavender-blush-50: #feedf3;
  --color-lavender-blush-100: #fee5ee;
  --color-lavender-blush-200: #ffcade;
  --color-lavender-blush-300: #ff9fc1;
  --color-lavender-blush-400: #ff6497;
  --color-lavender-blush-500: #fe3672;
  --color-lavender-blush-600: #ef134a;
  --color-lavender-blush-700: #d00633;
  --color-lavender-blush-800: #ac082b;
  --color-lavender-blush-900: #8f0c27;
  --color-lavender-blush-950: #580012;
}
